<div class="header-container">
  <header>Поддержать проект: <img src="{{ site.url }}/images/icons/btc.png" alt="BTC" class="btc" />3B9X84wcjNYXhGCHNbDm7fiVQ4YjjUvdvc
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="{{ site.url }}"><span class="mega-octicon octicon-terminal" style="margin-right: 6px;"></span>на главную</a></li>
          <!--<li><a href="{{ site.url }}/about"><span class="mega-octicon octicon-person" style="margin-right: 6px;"></span>About</a></li>-->
      </ul>
  </header>
</div>
